@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message {{Name}}</h3>

<p>Use this area to provide additional information.</p>
<div ng-init="Name=''">
<input type="text" ng-model="Name" />
</div>
