@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Rose Terrace<br />
    Wayville, Adelaide 5034<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@HariAddepalli.com">Support@HariAddepalli.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@HariAddepalli.com">Marketing@HariAddepalli.com</a>
</address>