@{
    ViewBag.Title = "Home Page";
}
<div ng-app="Home" >
    <div>
        <div class="jumbotron">
            <h1>Profile</h1>
            <p class="lead"></p>
        </div>
    </div>
    <div ng-controller="HomeController">
        <div class="row">
            <div class="col-lg-4">
                {{Name}}
            </div>
            <div class="col-lg-4">

            </div>
            <div class="col-lg-4">

            </div>
        </div>
    </div>
</div>
